@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

html {
  --primary-color: #FC354C;
}

body {
  margin: 0;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  text-align: center;
}